@{
    Layout = null;
}

<!DOCTYPEhtml>

<html>
<head>
<meta name="viewport"content="width=device-width"/>
<title>Complete</title>
</head>
<body>
<div ng-controller="AddressAndPaymentController">

<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order number is:{{OrderId}} </p>
<p>How about shopping for some more music in our  <a href ng-click="loadTemplate('/Store/Index')">Store</a>
</p>
</div>
</body>
</html>
