@{
    Layout = null;
}

<!DOCTYPEhtml>

<html>
<head>
<meta name="viewport"content="width=device-width"/>
<title>WizardAlbumArtUrl</title>
</head>
<body>
<div>
<fieldset>
<legend>Album Art Url</legend>
<div class="editor-label">
                AlbumArtUrl
</div>
<div class="editor-field">
<input type="text" ng-model="Album.AlbumArtUrl" required/>
</div>
<button type="submit"class="btn btn-danger">Submit</button> | <button class="btn btn-warning" ng-click="cancel()">Back to List</button>

</fieldset>
</div>
</body>
</html>
